In [23]:
import pandas as pd, numpy as np

In [24]:
missing = pd.read_csv('Data\worldbank.csv')

In [25]:
missing

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Bosnia and Herzegovina,BIH,"Population, total",SP.POP.TOTL,3262539,3325333,3387512,3448532,3507959,3565517,...,3617559,3571068,3524324,3480986,3440027,3400129,3360711,3318407,3270943,NaN
1,United Kingdom,GBR,"Population, total",SP.POP.TOTL,52400000,52800000,53250000,53650000,54000000,54348050,...,64128273,64602298,65116219,65611593,66058859,66460344,66836327,67081000,67326569,NaN

In [26]:
missing = missing.iloc[:, :1].join(missing.iloc[:, -10:])

In [27]:
missing.replace({'Bosnia and Herzegovina' : 'Bosnia y Herzegovina', 'United Kingdom' : 'Reino Unido'}, inplace= True)

In [29]:
missing.to_csv('../src/Data/missing.csv')